@{
  ViewData["Title"] = "Josip izvjestaji";
}

<ul>
    <li>Izvjestaj u PDF-u</li>
    <li>
        <a target="_blank" asp-action="NaplatnaKucica">Popis svih naplatnih kuæica</a>
    </li>
    <li>
        <a target="_blank" asp-action="VrstaNaplate">Popis vrsta naplate</a>
    </li>
    <li>
        <a target="_blank" asp-action="ProlazakVozila">Popis prolazaka vozila</a>
    </li>
    <li>
        <a target="_blank" asp-action="KategorijaVozila">Popis kategorija vozila</a>
    </li>
    <li>
        <a target="_blank" asp-action="MDNaplatneKucice">Naplatne kucice MD</a>
    </li>
    <li>Izvjestaji Excelu</li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleNaplatnaKucica">Naplatne kucice</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleVrsteNaplate">Vrste naplate</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleProlazakVozila">Prolasci vozila</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelSimpleKategorijaVozila">Kategorije vozila</a>
    </li>
    <li>
        <a target="_blank" asp-action="ExcelComplexNaplatnaKucica">MD Naplatne kucice</a>
    </li>
</ul>
