<table id="template" style="visibility:hidden">
    <tr>

        <td class="text-center col-sm-1">
            <input name="Reakcije[--id--].Datum" class="form-control" value="--datum--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Reakcije[--id--].Incident" class="form-control" value="--incident--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Reakcije{--id--].VrstaReakcije" class="form-control" value="--vrstaReakcije--" />
        </td>
    </tr>
</table>
