<table id="template" style="visibility:hidden">
    <tr>
        <td class="text-left col-sm-4">
            <input type="hidden" name="Model.prolasciVozila.Index" value="--sifra--" />
            <input class="form-control" value="--kategorijaVozila--" />
        </td>
        <td class="text-left col-sm-1">
            <input name="prolasciVozilaTS[--sifra--].KategorijaVozilaId" class="form-control" value="--kategorijaVozilaId--" readonly="readonly"/>
        </td>
        <td class="text-left col-sm-1">
            <input name="prolasciVozilaTS[--sifra--].VrijemeProlaska" class="form-control" value="--vrijemeProlaska--" type="datetime-local" />
        </td>
        <td class="text-left col-sm-1">
            <input name="prolasciVozilaTS[--sifra--].RegistracijskaOznaka" class="form-control" value="--registracijskaOznaka--" />
        </td>
        <td>
            <button class="btn btn-sm btn-danger deleterow" title="Izbaci"><i class="fas fa-minus"></i></button>
        </td>
    </tr>
</table>